<div class="container">
  <h2>Product List</h2>

  <table border="1" cellspacing="0" cellpadding="8">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Quantity</th>
        <th>Rating</th>
        <th>Stock</th>
        <th>Date</th>
      </tr>
    </thead>
<!-- 
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>₹ {{ product.price }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.rating }}</td>
        <td>
          <span [style.color]="product.inStock ? 'green' : 'red'">
            {{ product.inStock ? 'In Stock' : 'Out of Stock' }}
          </span>
        </td>
        <td>{{ product.createdDate }}</td>
      </tr>
    </tbody> -->
  </table>
</div>